<html>
<head>
<title>World cup 2014</title>
<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
	
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
	{% block content %}
	<p>Welcome {{ user.username }} !!!</p>
	{% endblock %}
	<br/>
	<br/>
	<a href ="/accounts/login">Log out</a>
	<div class="form-group">
    		<center><label for="finalWorldCup"><font font-size="20">Bảng dự đoán đội vô địch World Cup 2014</font></center></label>
  	</div>
	<table class="table table-bordered" align="center" width ="100%">
		<tr width ="100%">
			<td width ="10%">STT</td>
			<td width ="10%">Mã người chơi</td>
			<td width ="30%">Tên người chơi</td>
			<td width ="30%">Đội bóng đặt cược</td>
			<td width ="20%">Số tiền đặt cược</td>
		</tr>
		<tr>
			{% for d in ds %}
			<td>{{d.stt}}</td>
			<td>{{d.ma}}</td>
			<td>{{d.ten}}</td>
			<td>{{d.doibong}}</td>
			<td>{{d.sotien}}</td>
		</tr>
			{% endfor %}
	</table>
	<a href ="/results">Go to the table results</a>
</body>
</html>