<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>World cup</title>
 
    <link href="css/bootstrap.min.css" rel="stylesheet">
 
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />

<!-- bootstrap JavaScript -->
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <script>
 	 $(function () {
    $('#myTab a:last').tab('show')
  })
</script>

<script type="text/javascript">
function tab(tab) {
document.getElementById('tab1').style.display = 'none';
document.getElementById('tab2').style.display = 'none';
document.getElementById('tab3').style.display = 'none';
document.getElementById('tab4').style.display = 'none';
document.getElementById('li_tab1').setAttribute("class", "");
document.getElementById('li_tab2').setAttribute("class", "");
document.getElementById('li_tab3').setAttribute("class", "");
document.getElementById('li_tab4').setAttribute("class", "");
document.getElementById(tab).style.display = 'block';
document.getElementById('li_'+tab).setAttribute("class", "active");
}
</script>

  </head>
  <body>
<ul class="nav nav-tabs" role="tablist" id="myTab">
  <li id = "li_tab1" onclick="tab('tab1')" class="active"><a role="tab" data-toggle="tab">Thông tin đặt cược</a></li>
  <li id = "li_tab2" onclick="tab('tab2')"><a role="tab" data-toggle="tab">Danh sách đặt cược</a></li>
  <li id = "li_tab3" onclick="tab('tab3')"><a role="tab" data-toggle="tab">Kết quả đặt cược</a></li>
  <li id = "li_tab4" onclick="tab('tab4')"><a role="tab" data-toggle="tab">Thông tin ứng dụng</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="tab1">
  	<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
  	Họ và tên : 
   	 <input type="text" class="form-control" placeholder="Nhập tên">
  		</div><br /><br />
  	<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Tên đội bóng
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1">Arghentina</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1">Brazil</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1">Neitherland</a></li>
    <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1">Germany</a></li>
  </ul>
  <input type="text" class="form-control">
</div><br /><br />
	
	
	<div class="btn-group">
  <button type="submit" class="btn btn-primary">Xác nhận</button>
  </div>
	</form>
  </div>
  <div class="tab-pane" id="tab2">
  	<table class="table table-striped">
  		<tr>
  			<td>Họ tên người chơi</td>
  			<td>Tên đội bóng đặt cược</td>
  			<td>Số tiền đặt cược</td>
  		</tr>
  		<tr>
				<td>Vũ Đình Thắng</td>
				<td>Germany</td>
				<td>100000</td>
		</tr>
		<tr>
				<td>Nguyễn Minh Hằng</td>
				<td>Germany</td>
				<td>100000</td>
		</tr>
		<tr>
				<td>Vũ Đình Thắng</td>
				<td>Neitherland</td>
				<td>100000</td>
		</tr>
	</table>
  </div>
  <div class="tab-pane" id="tab3">
  		<div class="form-group">
    		<center><label for="exampleInputTeam">Tên đội vô địch</center></label>
   			<input type="text" class="form-control" id="exampleInputTeam" placeholder="Nhập tên đội vô địch">
  		</div>
  		<div class="form-group">
    		<label for="Equals">Kết quả chung cuộc</label>
  		</div>
  			<table class="table table-striped">
  		<tr>
  			<td>Họ tên người chơi</td>
  			<td>Số tiền thu được</td>
  			<td>Số tiền mất đi</td>
  			<td>Tổng tiền</td>
  		</tr>
  		<tr>
				<td>Vũ Đình Thắng</td>
				<td>100000</td>
				<td>100000</td>
				<td>200000</td>
		</tr>
	</table>
  		
  </div>
  <div class="tab-pane" id="tab4">...</div>
</div>
    <!-- Khai báo th? vi?n jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Khai báo s? d?ng th? vi?n javascript c?a bootstrap -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>